@using System.Globalization
@model List<test_task.Models.Client>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Тестовое задание</title>
</head>
<body>
<h3>Клиенты</h3>
<table>
    <tr>
        <td>ИНН</td>
        <td>Имя</td>
        <td>Тип</td>
        <td>Дата добавления</td>
        <td>Дата обновления</td>
    </tr>
    @foreach (var client in Model)
    {
        var dateAdd = DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(client.DateAdding)).ToLocalTime();
        var dateUpdate = DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(client.DateAdding)).ToLocalTime();
        <tr>
            
            <td>@client.Inn.ToString()</td>
            <td><a asp-controller="Home" asp-action="ShowClient" asp-route-clientInn=@client.Inn>@client.Name</a></td>
            <td>@client.GetTypeName()</td>
            <td>@dateAdd.ToString("g")</td>
            <td>@dateUpdate.ToString("g")</td>
        </tr>
    }
</table>
<a asp-controller="Home" asp-action="AddClient">Добавить клиента</a>

</body>
</html>