@model test_task.Models.Client


<!DOCTYPE html>

<html>
<head>
    <title>Клиент</title>
</head>
<body>
<h1>Информация о клиенте</h1>
<table class="table">
    <tr>
        <td>ИНН</td>
        <td>Имя</td>
        <td>Тип</td>
        <td>Дата добавления</td>
        <td>Дата обновления</td>
    </tr>
    <tr>
        <td>@Model.Inn.ToString()</td>
        <td>@Model.Name</td>
        <td>@Model.GetTypeName()</td>
        <td>@DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(Model.DateAdding)).ToLocalTime().ToString("g")</td>
        <td>@DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(Model.DateUpdating)).ToLocalTime().ToString("g")</td>
        <td align="right"> <a asp-controller="Home" asp-action="EditClient" class="btn btn-outline-info" asp-route-Inn=@Model.Inn>Редактировать</a> </td>
        <td align="right"> <a asp-controller="Home" asp-action="DeleteClient" class="btn btn-outline-danger" asp-route-clientInn="@Model.Inn">Удалить</a> </td>
    </tr>
</table>
@if (Model.BusinessType == 0)
{
    <h2>Список учредителей</h2>
    <table class="table" >
        <tr>
            <td>ИНН</td>
            <td>ФИО</td>
            <td>Дата добавления</td>
            <td>Дата обновления</td>
        </tr>
        @foreach (var constitutor in Model.Сonstitutors)
        {
            var dateAdd = DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(constitutor.DateAdding)).ToLocalTime();
            var dateUpdate = DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(constitutor.DateAdding)).ToLocalTime();
            <tr>
                <td>@constitutor.Inn</td>
                <td>@constitutor.FullName</td>
                <td class="floating-th">@dateAdd.ToString("g")</td>
                <td class="floating-th">@dateUpdate.ToString("g")</td>
                <td align="right"> <a asp-controller="Home" asp-action="EditСonstitutor"class="btn btn-outline-info" style = "" asp-route-Inn="@constitutor.Inn">Редактировать</a> </td>
                <td align="right"> <a asp-controller="Home" asp-action="DeleteСonstitutor" class="btn btn-outline-danger" asp-route-clientInn="@Model.Inn" asp-route-constitutorInn="@constitutor.Inn">Удалить</a> </td>
            </tr>
        }
    </table>
    <a asp-controller="Home" asp-action="AddСonstitutor" class="btn btn-outline-primary" asp-route-clientInn=@Model.Inn>Добавить учредителя</a>
}
</body>
</html>